@import "./colors.scss";

@mixin border-blue-light {
  border: 2px solid $light-blue;
  border-radius: 8px;
  opacity: 1;
}

@mixin border-blue-medium {
  border: 2px solid $medium-blue;
  border-radius: 8px;
  opacity: 1;
}

@mixin border-dark-blue {
  border: 2px solid $dark-blue;
  border-radius: 8px;
  opacity: 1;
}

@mixin border-error {
  border: 2px solid $error;
  border-radius: 8px;
  opacity: 1;
}

@mixin border-success {
  border: 2px solid $success;
  border-radius: 8px;
  opacity: 1;
}

@mixin divider {
  border: 1px solid $divider;
  border-radius: 8px;
  opacity: 1;
  margin: 10px 15px;
}
